# Release 签名配置
# 复制此文件为 keystore.properties 并填写你的签名信息
# keystore.properties 已在 .gitignore 中，不会被提交到代码仓库

MYAPP_RELEASE_STORE_FILE=my-release-key.keystore
MYAPP_RELEASE_KEY_ALIAS=my-key-alias
MYAPP_RELEASE_STORE_PASSWORD=你的keystore密码
MYAPP_RELEASE_KEY_PASSWORD=你的key密码

